@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    margin: 0
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    box-sizing: border-box;
}

.ContributionsPage {
    width: 100%;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1vw;
    z-index: 1000;
}

.topbar-button {
    background-color: transparent;
    color: white;
    padding: 1vh 1vw;
    text-decoration: none;
    font-size: 1.5vw;
    cursor: pointer;
    transition: all 0.3s, color 0.3s;
}

.topbar-button:hover {
    background-color: white;
    color: black;
}