@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
body {
    margin: 0;
    background-color: #1f1f1f;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    box-sizing: border-box;
}


#CommitsText {
    background: linear-gradient(0deg, #FF0000, #FF00C7);
    font-size: 67px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#StarsText {
    background: linear-gradient(0deg, #FFA800, #FAFF00);
    font-size: 67px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#StreakText {
    background: linear-gradient(0deg, #FF5C00, #FF9900);
    font-size: 67px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#PRText {
    background: linear-gradient(180deg, #00FF47 0%, #00FFF0 100%);
    font-size: 67px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

#IssuesText {
    background:  linear-gradient(180deg, #00FFE0 0%, #0066FF 100%);
    font-size: 67px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.IHaveMadeCommitsInTheLastYear {
    left: 0px;
    top: 19px;
    position: absolute;
    color: white;
    font-size: 64px;
    font-family: Inter;
    font-weight: 800;
    white-space: nowrap;
}
  
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1vw;
    z-index: 1000;
}

@media (max-width: 724px) {
    .topbar {
        justify-content: center;
    }
}

.topbar-button {
    background-color: transparent;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s, color 0.3s;
}

.topbar-button:hover {
    background-color: white;
    color: black;
}

#statsText {
    background: linear-gradient(0deg, #0077ff, #00ffff);
    font-size: 90px;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    padding-top: 60px;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media (max-width: 1000px) {
    #content {
        gap: 30px;
    }
}

#content > div > p {
    font-size: 64px;
    color: white;
    text-align: center;
    margin: 0;
}