@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    background-color: #1f1f1f;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    box-sizing: border-box;
}

.MainPage {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.seperator {
    width: 81.2vw;
    height: 0;
    left: 9.4vw;
    top: 41.1vh;
    position: absolute;
    border: 0.1vh #A6A6A6 solid;
}

.Languages img {
    width: auto;
    height: auto;
    max-width: 5.2vw;
    max-height: 5.2vw;
    object-fit: contain;
}

.Icon {
    object-fit: cover;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1vw;
    z-index: 1000;
}

@media (max-width: 724px) {
    .topbar {
        justify-content: center;
    }
}

.topbar-button {
    background-color: transparent;
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s, color 0.3s;
}

.topbar-button:hover {
    background-color: white;
    color: black;
}

#twitter {
    color: white; 
    font-size: 40px; 
    margin: 0 10px;
    transition: all 0.25s ease;
}

#twitter:hover {
    color: rgb(0, 195, 255);
    font-size: 44px;
    transition: all 0.25s ease;
}

#github {
    color: white; 
    font-size: 40px; 
    margin: 0 10px;
    transition: all 0.25s ease;
}

#github:hover {
    color: black;
    font-size: 44px;
    transition: all 0.25 ease;
}

#discord {
    color: white; 
    font-size: 40px; 
    margin: 0 10px;
    transition: all 0.25s ease;
}

#discord:hover {
    color: #7289DA;
    font-size: 44px;
    transition: all 0.25 ease;
}

@media (max-width: 768px) {
    .Languages img {
        max-width: 10vw;
        max-height: 10vw;
    }
}

#top {
    top: 5vh;
    height: 20em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 30px;
}

#introduction {
    color: white;
    font-size: 6vw;
    line-height: 80%;
}

@media (max-width: 671px) {
    .Languages img {
        max-width: 10vw;
        max-height: 10vw;
    }

    #top {
        top: 5vh;
        height: 20em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding-top: 30px;
        margin-bottom: 30px;
    }

    #introduction {
        text-align: center;
        font-size: 40px;
    }
}


.devcmbText {
    font-size: 7vw;
    background: linear-gradient(0deg, #ff0000, #ff0095);
    -webkit-background-clip: text;
    font-weight: bolder;
    background-clip: text;
    color: transparent;
}

#Icon {
    width: calc(100px + 10vw);
    border-radius: 40px;
}

@media (max-width: 438px) {
    #Icon {
        width: calc(100px + 20vw);
        border-radius: 40px;
    }
}

#bottom {
    top: 25em;
    width: 100%;
    height: calc(100% - 25em);
}

#years {
    color: white;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    padding: 0;
    margin: 0;
}

#timeText {
    color: transparent;
    font-weight: bolder;
    background: linear-gradient(0deg, #ff6600, #ffee00);
    -webkit-background-clip: text;
    background-clip: text;
}

#languagesContainer {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
    height: 90px;
    gap: 10px;
}

#languagesContainer > p {
    font-weight: bolder;
}

.language {
    width: 75px;
}

@media (max-width: 1200px) {
    #languagesContainer {
        flex-wrap: wrap;
        height: auto;
    }

    #languagesContainer p {
        width: 100%;
        text-align: center;
        margin: 0;
        order: 1;
    }

    #languagesContainer img {
        order: 2;
    }
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    padding: 10px;
}
.social-icons a {
    text-shadow: 
        2px 0 0 black,
        -2px 0 0 black,
        0 2px 0 black,
        0 -2px 0 black,
        1px 1px black,
        -1px -1px 0 black,
        1px -1px 0 black,
        -1px 1px 0 black;
    filter: none;
    -webkit-text-stroke: 0;
}